<!-- header -->
<div class="header">
  <div class="header-grid">
      <div class="container">
    <div class="header-left animated wow fadeInLeft" data-wow-delay=".5s">
      <ul>
      <li>
        <h1><a class="navbar-brand" routerLink="/home"><span>Downy</span> <i>Shoes</i></a></h1>
      </li>
      </ul>
    </div>
    <div class="header-right animated wow fadeInRight" data-wow-delay=".5s">
    <div class="header-right1 ">
      <ul>
        <li class="active"><a routerLink="" class="act">Home</a></li>
        <li><a routerLink="/product" class="act">Product</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><i class="glyphicon glyphicon-log-in" ></i><a routerLink="/login">Login</a></li>
        <li><i class="glyphicon glyphicon-book" ></i><a routerLink="/register">Register</a></li>
      </ul>
    </div>
    <div class="header-right2">
    </div>
    <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  </div>
</div>
<!-- //header -->
