<!-- <div class="">
  <div class="">

  <div class="container">
      <div class="row">
          <div class="col-lg-3 mb-3">
              <div id="mb_verticle_menu" class="menu-quick-select">
                  <div class="title_block">
                      <span>Sản phẩm</span>
                  </div>

                  <div id="menuverti" class="block_content navbar_menuvertical">
                      <ul class='nav_verticalmenu'>
                        <li class="level0">
                          <a [routerLink]="['product']">Danh sách sản phẩm</a>
                        </li>
                        <li class="level0">
                          <a [routerLink]="['addProduct']">Thêm sản phẩm</a>
                        </li>
                        <li class="level0">
                          <a href=""> Loại sản phẩm</a>
                        </li>
                        <li class="level0">
                          <a [routerLink]="['contact']">Liên hệ</a>
                        </li>
                      </ul>
                  </div>

              </div>

          </div>

          <div class="col-lg-9">
              <div class="row">
                <router-outlet></router-outlet>
              </div>

          </div>
          <div class="clear"> </div>
      </div>
  </div>

  <div class="clear"> </div>
</div> -->
<app-navigate></app-navigate>
<router-outlet></router-outlet>
<app-footer></app-footer>
